#rotating-image-container {
    max-width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* min-height: 400px; */
    /* height: 90%; */
}

.image {
    width: 80%;
}

.bw {
    padding-top: 45px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}