/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #mobile-home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #home-container {
        display: none;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    #mobile-home-container {
        display: none;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    #mobile-home-container {
        display: none;
    }
  }