#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

#horizontal-rule {
    width: 70%;
}

#opening-soon {
    width: 100%;
    font-weight: bold;
}

#opening-soon-container {
    width: 50%;
    min-width: 150px;
    text-align: center;
}

#amf-main-logo {
    min-width: 275px;
}

#body-container {
    text-align: center;
}
