.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: 1px solid red;
}

.nav-link {
    text-decoration: none;
    font: Helvetica;
    font-weight: 350;
    font-size: large;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .navbar {
        display: none;
    }

    #logo {
        font-size: 25px;
    }
}