<div class='flex-column-container'>
    <div class='text-container flex-container'>
        <p>In conversation with the fragmented nature of online existence, All My Friends focuses on collaboration and community to picture a mutable artistic whole.</p>
        <p>Personal history of the individual artist remains  their own, each history combining to form a forward force through which contextualization and learning can occur.</p>
        <p>No one will own the art displayed here except its creator.</p> 
        <p>“I” am All My Friends, You are All My Friends, We are All my Friends</p>   
    </div>
    <img id='horizontal-rule'src="../assets/horizontal-rule.svg" alt="horizontal-rule">
    <div class='text-container flex-container'>
        <p>Our first collection will have no pre-determined theme, allowing a generative one to take shape. It will be released on the online gallery page. Circumstances permitting, when right, a gathering may mark the occasion. Submit paintings, fictions, noises, photos, whatever you want.</p>
        <p>Based in ATX</p>
    </div>
    <div id='mobile-nav-bar'>
        <a class='navbar-item' [routerLink]="['/home']" routerLinkActive="hidden">home</a>
    </div>
</div>
