<p class="marquee">
    <span class="marquee-text">
        IN CONVERSATION WITH THE FRAGMENTED NATURE OF ONLINE EXISTENCE, ALL MY FRIENDS FOCUSES ON COLLABORATION AND COMMUNITY TO PICTURE A MUTABLE ARTISTIC WHOLE. PERSONAL HISTORY OF THE INDIVIDUAL ARTIST REMAINS THEIR OWN, EACH HISTORY COMBINING TO FORM A FORWARD FORCE THROUGH WHICH CONTEXTUALIZATION AND LEARNING CAN OCCUR. NO ONE WILL OWN THE ART DISPLAYED HERE EXCEPT ITS CREATOR. “I” AM ALL MY FRIENDS, YOU ARE ALL MY FRIENDS, WE ARE ALL MY FRIENDS.
    </span>
    </p>